@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Noto Sans Georgian", sans-serif;
}

body{
    background-color: #F0F4F5;
    padding-bottom: 300px;
}

.swiper-button-prev{
    width: 40px !important;
    height: 40px !important;
    background-color: white !important;
    border-radius: 50% !important;
}

.swiper-button-next{
    width: 40px !important;
    height: 40px !important;
    background-color: white !important;
    border-radius: 50% !important;
}

:root{
    --swiper-theme-color: #1D2D35;
    --swiper-navigation-size: 9.5px;
}
